<div class="card">
  <div class="card-header card-header-color">
    <h4 class="card-title">Edit User</h4>
  </div>
  <div class="card-body">
    <br>
    <div>
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="user.fname" name="name">
            </div><br>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="surname">Last Name</label>
              <input type="text" class="form-control" id="surname" required [(ngModel)]="user.lname" name="surname">
            </div><br>
          </div>
        </div>

        <div class="form-group" *ngIf="info.userId != user.userId">
          <label class="float-left">Role</label><br><br>
          <label class="radioContainer" *ngIf="info.userRole == 'Admin'">Admin
            <input type="radio" checked="checked" name="role" id="admin" value="Admin" required [(ngModel)]="user.userRole">
            <span class="radioCheckmark"></span>
          </label>
          <label class="radioContainer">Advanced
            <input type="radio" name="role" id="advanced" value="Advanced" required [(ngModel)]="user.userRole">
            <span class="radioCheckmark"></span>
          </label>
          <label class="radioContainer">Basic
            <input type="radio" name="role" id="basic" value="Basic" required [(ngModel)]="user.userRole">
            <span class="radioCheckmark"></span>
          </label>
        </div>
        <br>

        <button type="submit" class="btn btn-primary justify-content-center">Submit</button>
      </form>
    </div>
  </div>
</div>

