<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary" id="NotDiv">
          <h4 class="card-title">Unknown Person List</h4>
          <p class="card-category">People on the street, walking past your property.</p>
          <!--<a *ngIf="info.userRole == 'Admin'" class="material-icons listPageIcons open-modal" (click)="deleteAll()"
             title="Delete All">auto_delete</a>-->
        </div>
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">search</i>
              </span>
            </div>
            <input type="text" class="form-control" id="searchInput" placeholder="Search by Date..."
                   onkeyup="searchFunc('greyListTable', 1)">
          </div>
          <div class="table-responsive table-striped">
            <table class="table center">
              <thead class="text-primary">
              <tr>
                <th class="hoverPointer" onclick="sortTable('greyListTable', 1)">
                  Date Added
                </th>
                <th>
                  Picture
                </th>
                <th>
                  Modify
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let p of person | async">
                <tr *ngIf="p.personListed == 'Grey' && p.personDeleted == null">
                  <td>{{p.personCreated}}</td>
                  <td>
                    <img alt="Image" id="noteImg{{p.personId}}" src="{{p.personImg}}"
                         class="listPic ImgClassName" (click)="imageClick(p.personId)">
                  </td>
                  <td *ngIf="info.userRole != 'Basic'">
                    <a class="material-icons listPageIcons" (click)="addToWhiteList(p.personId)"
                       title="Add to Cleared List">
                      thumb_up_alt
                    </a>

                    <a class="material-icons listPageIcons" (click)="addToBlackList(p.personId)"
                       title="Add to Threat List">
                      thumb_down_alt
                    </a>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!-- Image Zoom modal -->
<div id="myModal" class="modal" (click)="modalClick()">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01" alt="image" src="">
  <div id="caption"></div>
</div>
