<div id="navBars">
  <app-side-nav></app-side-nav>
  <app-top-nav></app-top-nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header card-header-primary" id="NotDiv">
          <h4 class="card-title">Unknown Person List</h4>
          <p class="card-category">All people detected by Argus</p>
          <!--<a *ngIf="info.role == 'Admin'" class="material-icons listPageIcons open-modal" (click)="deleteAll()"
             title="Delete All">auto_delete</a>-->
        </div>
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">search</i>
              </span>
            </div>
            <input type="text" class="form-control" id="searchInput" placeholder="Search by Date..."
                   onkeyup="searchFunc('greyListTable', 1)">
          </div>
          <div class="table-responsive table-striped">
            <table class="table center">
              <thead class="text-primary">
              <tr>
                <th class="hoverPointer" onclick="sortTable('greyListTable', 1)">
                  Date Added
                </th>
                <th>
                  Picture
                </th>
                <th>
                  Classify
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let p of person | async">
                <tr
                  *ngIf="(p.personListed == 'Grey') && (p.personDeleted == null) && (p.network.netName == info.network)">
                  <td>{{p.personCreated}}</td>
                  <td>
                    <img alt="Image" id="noteImg{{p.personId}}" src="{{p.personImg}}"
                         class="listPic ImgClassName" (click)="imageClick(p.personId)">
                  </td>

                  <td *ngIf="info.role != 'Basic'">

                    <a class="listPageIcons" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                      <i class="material-icons hoverPointer" title="Move Person to List">playlist_add</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <div class="container">
                        <form>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="addFirstName">First Name</label>
                                <input type="text" name="name" class="form-control" id="addFirstName"
                                       required maxlength="35" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
                                       [(ngModel)]="p.fname" #name="ngModel">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                     class="alert alert-danger">
                                  Please enter a valid name.
                                </div>
                              </div>
                              <br>
                            </div>

                            <div class="col">
                              <div class="form-group">
                                <label for="addSurname">Last Name</label>
                                <input type="text" class="form-control" id="addSurname" name="surname"
                                       required maxlength="35" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
                                       [(ngModel)]="p.lname" #lname="ngModel">

                                <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                                     class="alert alert-danger">
                                  Please enter a valid last name.
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <button type="submit" class="btn btn-primary" (click)="addToWhiteList(p.personId)">
                                Move to Cleared List
                              </button>
                            </div>
                            <div class="col">
                              <button type="submit" class="btn btn-primary" (click)="addToBlackList(p.personId)">
                                Move to Threat List
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!-- Image Zoom modal -->
<div id="myModal" class="modal" (click)="modalClick()">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01" alt="image" src="">
  <div id="caption"></div>
</div>
