/node_modules/
/NeuralNetwork/.idea/
/NeuralNetwork/data/
/NeuralNetwork/models/
/NeuralNetwork/NeuralNetwork.iml/

# Default ignored files
/shelf/
/workspace.xml/

# Editor-based HTTP Client requests
/Argus/httpRequests/
/.idea/
/.project/
/.settings/
*.orig
*.iml
