<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">User Profile</h4>
            <p class="card-category"></p>
            <div class="image-cropper">
              <img class="userPic" id="viewPic">
            </div>
          </div>
          <div class="card-body" *ngIf="user">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <h5 class="text-primary"><b>First Name</b></h5>
                  <output id="firstNameDisplay">{{user.fname}}</output>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <h5 class="text-primary"><b>Last Name</b></h5>
                  <output id="lastNameDisplay">{{user.lname}}</output>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <h5 class="text-primary"><b>Contact Number</b></h5>
                  <output id="numberDisplay">{{user.contactNo}}</output>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <h5 class="text-primary"><b>Email</b></h5>
                  <output id="emailDisplay">{{user.email}}</output>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" (click)="back()">Back</a>
  </div>
</div>
