<div class="container">
			<h1>Person Profile List</h1>

			<br>

			<span>
				<button type="button" class="fa fa-plus"></button>

				<button type="submit" class="fa fa-trash"></button>
			</span>

			<br>

			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class='table table-striped'>
									<thead class='header'>
										<tr>
											<th>White-Listed</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img src='../Images/blank.jpg' alt='Project Photo'>
											</td>
											<td>
												<form action='' method='post'>
													<input type='hidden' name='project_id' value='1'>
													<button type='submit' class='fa fa-pencil'></button>
												</form>
											</td>
											<td>
												<input type='checkbox' name='1'>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class='table table-striped'>
									<thead class='header'>
										<tr>
											<th>Grey-Listed</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img src='../Images/blank.jpg' alt='Project Photo'>
											</td>
											<td>
												<form action='' method='post'>
													<input type='hidden' name='project_id' value='1'>
													<button type='submit' class='fa fa-pencil'></button>
												</form>
											</td>
											<td>
												<input type='checkbox' name='1'>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class='table table-striped'>
									<thead class='header'>
										<tr>
											<th>Black-Listed</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img src='../Images/blank.jpg' alt='Project Photo'>
											</td>
											<td>
												<form action='' method='post'>
													<input type='hidden' name='project_id' value='1'>
													<button type='submit' class='fa fa-pencil'></button>
												</form>
											</td>
											<td>
												<input type='checkbox' name='1'>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>

			<button type="button" class="btnBack">Back</button>
		</div>
