<div class="card">
  <div class="card-header card-header-color">
    <h4 class="card-title">Edit Person</h4>
  </div>
  <div class="card-body">
    <br>
    <div>
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="person.fname" name="name">
            </div><br>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="surname">Last Name</label>
              <input type="text" class="form-control" id="surname" required [(ngModel)]="person.lname" name="surname">
            </div><br>
          </div>
        </div>

        <div class="form-group">
          <label class="float-left">Type</label><br><br>
          <label class="radioContainer">White
            <input type="radio" checked="checked" name="listed" id="white" value="White" required [(ngModel)]="person.personListed">
            <span class="radioCheckmark"></span>
          </label>
          <label class="radioContainer">Black
            <input type="radio" name="listed" id="black" value="Black" required [(ngModel)]="person.personListed">
            <span class="radioCheckmark"></span>
          </label>
        </div>
        <br>

        <button type="submit" class="btn btn-primary justify-content-center">Submit</button>
      </form>
    </div>
  </div>
</div>
