
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Notifications</h4>
                    <p class="card-category">A history of all the notifications sent to you</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                      <table id ="notificationsTable">
                        <thead class="text-primary">
                        <tr>
                          <th>Date-Time</th>
                          <th>Notification</th>
                          <th>Notification Type</th>
                          <th>Delete</th>
                        </tr>
                        </thead>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-login100-form-btn " style="padding-left: 30px;width: 230px;"><!--Can't use inline styling-->
  <div class="wrap-login100-form-btn">
    <div class="login100-form-bgbtn "></div>
    <button class="login100-form-btn" id="localNotificationBtn" onclick="sendNotification('Testing');addCell('Local')" (click)="ReadDB(); AddBook(); DeleteDB()">
      Send notification
    </button>
  </div>
</div>
<br>

<div class="container-login100-form-btn " style="padding-left: 30px; width: 230px;"><!--Can't use inline styling-->
  <div class="wrap-login100-form-btn">
    <div class="login100-form-bgbtn "></div>
    <button class="login100-form-btn" id="emailNotification" onclick="sendEmail('Testing email');addCell('Email')">
      Send an email notification
    </button>
  </div>
</div>
<br>

<label style="padding-left: 35px;"><!--Can't use inline styling-->
  <input type="checkbox" id="toggleBtn" onclick="toggle()">
  Disable Notifications
</label>
<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Notifications</h4>
                    <p class="card-category">A history of all the notifications sent to you</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    Date
                                </th>
                                <th>
                                    Message
                                </th>
                                <th>
                                    Screenshot
                                </th>
                                <th>
                                    Modify
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        22/06/2020
                                    </td>
                                    <td>
                                        A white listed user named Cleetus McFarland was observerd entering the premisis on 22/06/2020.
                                    </td>
                                    <td>
                                        <img src="" class="listPic">
                                    </td>
                                    <td>
                                        <a [routerLink]="['/']">Modify status</a>
                                        <a [routerLink]="['/']">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        19/04/2020
                                    </td>
                                    <td>
                                        A black listed individual was observerd entering the premisis on 19/04/2020.
                                    </td>
                                    <td>
                                        <img src="" class="listPic">
                                    </td>
                                    <td>
                                        <a [routerLink]="['/']">Modify status</a>
                                        <a [routerLink]="['/']">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        14/02/2020
                                    </td>
                                    <td>
                                        A unknown individual was observerd entering the premisis on 14/02/2020. They have been added to the grey list for later review.
                                    </td>
                                    <td>
                                        <img src="" class="listPic">
                                    </td>
                                    <td>
                                        <a [routerLink]="['/']">Modify status</a>
                                        <a [routerLink]="['/']">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        02/01/2020
                                    </td>
                                    <td>
                                        A white listed user named Jerry (Plumber) was observerd entering the premisis on 02/01/2020.
                                    </td>
                                    <td>
                                        <img src="" class="listPic">
                                    </td>
                                    <td>
                                        <a [routerLink]="['/']">Modify status</a>
                                        <a [routerLink]="['/']">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
