<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Notifications</h4>
                    <p class="card-category">A history of all the notifications sent to you</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                      <table id ="notificationsTable">
                        <thead class="text-primary">
                        <tr>
                          <th>Date-Time</th>
                          <th>Message</th>
                          <th>Image</th>
                          <th>Dismiss</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let note of notification | async">
                          <tr>
                            <td>{{note.onDate}}&nbsp;{{note.atTime}}</td>
                            <td>{{note.message}}</td>
                            <td><img src="{{note.notificationImg}}" class="listPic"></td>
                            <td>
                              <a class="btn btn-primary" (click)="removeNotification(note.notificationId)">Delete</a>
                            </td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--<div class="container-login100-form-btn " style="position: center; width: 200px;margin-left: auto; margin-right: auto"><
  <div class="wrap-login100-form-btn">
    <div class="login100-form-bgbtn "></div>
    <button class="login100-form-btn" id="localNotificationBtn" (click)="AddNotification('Local', 'Testing local messages')">
      Send notification
    </button>
  </div>
</div>
<br>

<div class="container-login100-form-btn " style="position: center; width: 200px;margin-left: auto; margin-right: auto">
  <div class="wrap-login100-form-btn">
    <div class="login100-form-bgbtn "></div>
    <button class="login100-form-btn" id="emailNotification" (click)="AddNotification('Email', 'Testing email messages')" onclick="sendEmail('Testing email')">
      Send an email notification
    </button>
  </div>
</div>
<br>-->
<!--
<label style="padding-left: 35px;">
  <input type="checkbox" id="toggleBtn" onclick="toggle()">
  Disable Notifications
</label>
-->

