<div id="navBars">
  <app-side-nav></app-side-nav>
  <app-top-nav></app-top-nav>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="card card-profile ml-auto mr-auto">
        <div class="card-header card-header-image">
          <div class="image-cropper">
            <img alt="Photo" class="userPic" id="userPic" src="{{user.profilePhoto}}">
          </div>
        </div>

        <div class="card-body center">
          <br>
          <h4 class="card-title">{{user.fname}} {{user.lname}}</h4>
          <h6 class="card-category text-gray">{{user.userRole}} User</h6>
          <br>
          <i class="material-icons text-primary align-middle" title="Email">email</i> - {{user.email}} <br><br>
          <i class="material-icons text-primary align-middle" title="Contact Number">call</i> - {{user.contactNo}}
          <br><br>
          <i class="material-icons text-primary align-middle" title="Username">account_box</i> - {{user.username}}
          <br>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" (click)="back()">Back</a>
  </div>
</div>
