<div class="container center">
  <table>
    <tr>
      <td class="settingsCells"><label class="settingsLabels">Email notifications</label></td>
      <td class="settingsCells">
        <input class="switch_2" id="emailSlider" type="checkbox" (change)="enableButton()">
      </td>
    </tr>

    <tr>
      <td class="settingsCells"><label class="settingsLabels">Local notifications</label></td>
      <td class="settingsCells">
        <input class="switch_2" id="localSlider" type="checkbox" (change)="enableButton()">
      </td>
    </tr>
  </table>

  <button class="btn btn-primary mx-auto" id="saveBtn" (click)="setUserSettings()">
    Save
  </button>
</div>
