<div>
    <h1> Settings </h1>
    <br>
</div>

<div>

    <h3><u> Notification Settings </u></h3>
    <table>

    <tr>
      <td>
        <label class="labelStyle">Email notifications</label>
      </td>

      <td>
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
      </td>

    </tr>

    <tr>

      <td>
        <label class="labelStyle">Local notifications</label>
      </td>

      <td>
        <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        </label>
      </td>

    </tr>
    </table>

    <h3><u> Theme Settings </u></h3>

    <table>

    <tr>

      <td>
        <label class="labelStyle">Dark mode</label>
      </td>

      <td>
        <label class="switch">
        <input type="checkbox" unchecked>
        <span class="slider round"></span>
        </label>
      </td>

    </tr>

    </table>

</div>
