<header>
    <div class="container" >
      <nav>
        <ul>
          <li><a href="/notifications">Notifications</a></li>
          <li><a href="/people">Person Profile</a></li>
          <li><a href="/vehicle">Vehicle Profile</a></li>
          <li><a href="/users">Users List</a></li>
          <li><a href="/addp">Add person</a></li>
          <li><a href="/addv">Add vehicle</a></li>
          <li><a href="/editp">Edit person</a></li>
          <li><a href="/editv">Edit vehicle</a></li>
        </ul>
      </nav>
    </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
