<div class="container-fluid">
    <div class="row">
        <!-- ROW 1 -->
        <div class="col-lg-12 col-md-10 col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <i class="material-icons" style="color: #ff0000; font-size: small;">stop_circle</i>
                        <!--Can't use inline styling-->
                        Live Feed
                    </h4>
                </div>
                <div id="app">
                    <div>
                        <webcam [width]="640" [height]="480" [imageQuality]="0.92" [trigger]="triggerObservable" *ngIf="showCam" (imageCapture)="handleShot($event)">
                        </webcam>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="tog" (click)="toggleCam();" onclick="sendNotification('Camera toggled')">Toggle Camera</button>
                        <button class="btn btn-primary" (click)="trigger_s();">Snap</button>
                      <!--<button class="btn btn-primary" (click)="trigger_s();" onclick="sendNotification('Snapshot taken');sendEmail('Camera detected a person')">Snap</button>-->
                    </div>
                    <div class="snapshot" *ngIf="camImg">
                        <h2>Snapshot:</h2>
                        <img [src]="camImg.imageAsDataUrl" alt="camera"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROW 2 -->
      <span>
            <!-- MONTHLY ALERTS CARD -->
            <div class="col-lg-10 col-md-5 col-sm-5">
                <div class="card card-chart" style="width: 450px">
                    <div class="card-header card-header-color">
                          <h4 class="card-title">Number of alerts for the past few days</h4>
                    </div>
                    <div class="card-body">
                      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                      <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
                      <!--<img src="assets/Images/recentDetections.PNG" width="400px">-->
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Last updated {{currentDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
      </span>

            <!-- OTHER STATS PLACEHOLDER CARD -->
      <span>
            <div class="col-lg-10 col-md-5 col-sm-5">
                <div class="card card-chart" style="width: 450px">
                    <div class="card-header card-header-color">
                        <h4 class="card-title">People on your system</h4>
                    </div>
                    <div class="card-body">
                      <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
                      <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
                      <!--<img src="assets/Images/totalPersons.PNG" width="400px">-->
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Last updated {{currentDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
      </span>
    </div>
</div>
