<!--<div class="loginBG">-->
<!--  <div class="loginCover"></div>-->
<!--</div>-->

<!--<div id="resetContainer">-->
<!--  <h1 class="loginHead">Email Sent</h1>-->
<!--  <label>Please check your inbox to recover your password</label>-->
<!--  <a class="loginButton" (click)="sendMail()" [routerLink]="['/login']">Back to login page</a>-->
<!--  -->
<!--  <h1 class="loginHead">Reset Password</h1>-->
<!--  <form>-->
<!--    <label class="loginPassword">-->
<!--      <input class="loginInputs" id="passwordField1" type="password" name="pass" placeholder="Password"  onfocus="passwordChecker()" maxlength="20">-->
<!--      <i class="material-icons" id="passwordVisibility1" onclick="showPassword('1')">visibility_off</i>-->
<!--    </label>-->

<!--    <label class="loginPassword">-->
<!--      <input class="loginInputs" id="passwordField2" type="password" name="pass" placeholder="Confirm Password" onfocus="passwordConfirm()" maxlength="20">-->
<!--      <i class="material-icons" id="passwordVisibility2" onclick="showPassword('2')">visibility_off</i>-->
<!--    </label>-->

<!--    <div id="passCheckMsg">-->
<!--      <p id="letter" class="invalid">A lowercase letter</p>-->
<!--      <p id="capital" class="invalid">An uppercase letter</p>-->
<!--      <p id="number" class="invalid">A number</p>-->
<!--      <p id="length" class="invalid">Minimum 8 characters</p>-->
<!--    </div>-->

<!--    <p id="passNoMatch" class="invalid">Passwords do not match</p>-->
<!--    <p id="passMatch" class="valid">Passwords match</p>-->
<!--    <a class="loginButton" (click)="sendMail()" [routerLink]="['/login']">Reset Password</a>-->
<!--  </form>-->
<!--  -->
<!--</div>-->
