<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Black List</h4>
                    <p class="card-category">Suspicious People</p>
                  <a id="addBlack" class="material-icons open-modal listPageIcons" data-toggle="modal" data-target="#addPersonModal2">person_add</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    Picture
                                </th>
                                <th>
                                    Alias
                                </th>
                                <th>
                                    Modify
                                </th>
                            </thead>
                            <tbody id="blackBody">
                                <ng-container *ngFor="let p of person | async">
                                  <tr *ngIf="p.personListed == 'Black'">
                                    <td><img alt="Photo" src="{{p.personImg.photo}}" class="listPic"></td>
                                    <td>{{p.fname}}&nbsp;{{p.lname}}</td>
                                    <td>
<!--                                  <a class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</a>-->
                                      <a class="material-icons listPageIcons" (click)="updatePerson(p.personId)">create</a>
                                      <a class="material-icons listPageIcons" (click)="removePerson(p.personId)">delete</a>
                                    </td>
                                  </tr>
                               </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ADD PERSON MODAL-->
<div class="container">
  <div class="modal fade" id="addPersonModal2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body center">
          <i class="material-icons modal-close-btn" data-dismiss="modal">close</i>
          <app-add-person></app-add-person>
        </div>
      </div>
    </div>
  </div>
</div>
