<!-- ARGUS Login Page -->
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" name="form1">
                    <span class="login100-form-title p-b-26 ">
                    <b>Welcome to </b>
                    <img src="/assets/Images/Argus.png" style="height: 60px; margin-left: auto; margin-right: auto;"> <br>
                    <img src="/assets/Images/devider.png" style="height: 7px; width: 200px; margin-left: auto; margin-right: auto;">
                  </span>

        <div class="wrap-input100 " data-validate="Valid email is: a@b.c ">
          <b> Email or Username </b>
          <input class="input100" type="text" id="input" name="input">
          <span class="focus-input100 "></span>
        </div>

        <div class="wrap-input100 " data-validate="Enter password ">
          <b> Password </b>
          <img src="./assets/Images/hidePass.png" id="passEye" onclick="showPassword()" style="height: 12px; padding-left: 150px; "> <br>
          <input class="input100 " type='password' id="pass">
          <span class="focus-input100 "></span>
        </div>

        <div class="container-login100-form-btn ">
          <div class="wrap-login100-form-btn ">
            <div class="login100-form-bgbtn "></div>
            <button class="login100-form-btn" onclick="CheckPassword(), mockLogin()">
              Login
            </button>
          </div>
        </div>
      </form>
      <div class="center">
        <a class="blue" href="#">Forgot password</a>
      </div>
    </div>
  </div>
</div>
