<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Grey List</h4>
          <p class="card-category">Unknown People</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  ID
                </th>
                <th>
                  Picture
                </th>
                <th>
                  Modify
                </th>
              </thead>
              <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  <img src="./assets/Images/blacklist/AB.jpg" class="listPic">
                </td>
                <td>
                  <a [routerLink]="['/']">Add to white list</a>
                  <a [routerLink]="['/']">Add to black list</a>
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  <img src="./assets/Images/blacklist/BC.jpg" class="listPic">
                </td>
                <td>
                  <a [routerLink]="['/']">Add to white list</a>
                  <a [routerLink]="['/']">Add to black list</a>
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  <img src="./assets/Images/blacklist/JM.jpg" class="listPic">
                </td>
                <td>
                  <a [routerLink]="['/']">Add to white list</a>
                  <a [routerLink]="['/']">Add to black list</a>
                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  <img src="./assets/Images/blacklist/RDJ.jpg" class="listPic">
                </td>
                <td>
                  <a [routerLink]="['/']">Add to white list</a>
                  <a [routerLink]="['/']">Add to black list</a>
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  <img src="./assets/Images/blacklist/SLJ.jpg" class="listPic">
                </td>
                <td>
                  <a [routerLink]="['/']">Add to white list</a>
                  <a [routerLink]="['/']">Add to black list</a>
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  <img src="./assets/Images/blacklist/WS.jpg" class="listPic">
                </td>
                <td>
                  <a [routerLink]="['/']">Add to white list</a>
                  <a [routerLink]="['/']">Add to black list</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

