<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">User List</h4>
                    <p class="card-category">All users for your system</p>
                    <a class="btn btn-secondary btn-md btn-sm" [routerLink]="['/add-user']">Add</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="userListTable">
                            <thead class="text-primary">
                                <th> # </th>
                                <th> Name </th>
                                <th> Role </th>
                                <th> Picture </th>
                                <th> Modify </th>
                            </thead>
                            <tbody id="userTableBody">
                                <tr>
                                    <td> 1 </td>
                                    <td> User 1 </td>
                                    <td> Basic </td>
                                    <td> <img src="./assets/Images/blank.jpg" class="listPic"> </td>
                                    <td>
                                        <a class="btn btn-primary" [routerLink]="['/edit-user']">Edit</a>
                                        <a class="btn btn-primary" [routerLink]="['/']">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
