<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">User List</h4>
                    <p class="card-category">All users for your system</p>
                    <a class="btn btn-secondary btn-md btn-sm" [routerLink]="['/add-user']">Add</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="userListTable">
                            <thead class="text-primary">
                                <th> ID </th>
                                <th> Picture </th>
                                <th> Name </th>
                                <th> Role </th>
                                <th> Modify </th>
                            </thead>
                            <tbody id="userTableBody">
                            <ng-container *ngFor="let user of users | async">
                              <tr>
                                <td>{{user.id}}</td>
                                <td><img src="{{user.profilePhoto.photo}}" class="listPic"></td>
                                <td>{{user.name}}&nbsp;{{user.surname}}</td>
                                <td>{{user.userRole}}</td>
                                <td>
                                  <a class="btn btn-primary" (click)="updateUser(user.id)">Edit</a>
                                  <a class="btn btn-primary" (click)="removeUser(user.id)">Delete</a>
                                </td>
                              </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
