<footer class="footer normalFooter">
  <div class="container-fluid">
    <div>
      <ul>
        <li class="float-left">
          <a href="https://www.epiuselabs.com/">
            Epi-Use Labs
          </a>
        </li>
        <li class="float-left">
          <a href="https://www.epiuselabs.com/about-us">
            About Us
          </a>
        </li>
        <li class="float-right">
          <a href="https://github.com/COS301-SE-2020/Home-Security-System">
            &copy; Developed by Sigma
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
