<div class="loginBG">
  <div class="loginCover"></div>
</div>
<div id="login-button" onmouseover="loginSlide()">
  <img class="loginImg" src="./assets/Images/ArgusIcon.png"
       alt="">
  Log in
</div>

<div id="loginContainer">
  <h1 class="loginHead">Welcome to</h1>
  <div class="loginLogo">
    <a class="simple-text">
      <img id="logoLoginPage" src="assets/Images/ArgusLogo.png" alt="Argus Logo">
    </a>
  </div>
  <!--  <i class="material-icons login-close-btn" onclick="closeLogin()">close</i>-->

  <form>
    <label class="loginFields">
      <input class="loginInputs" type="text" name="email" placeholder="Username or E-mail" id="emailField"
             maxlength="35">
    </label>
    <label class="loginPassword">
      <input class="loginInputs" id="passwordField" type="password" name="pass" placeholder="Password" maxlength="35">
      <i class="material-icons" id="passwordVisibility" onclick="showPassword('')">visibility_off</i>
    </label>

    <a class="loginButton" (click)="makeSession()" id="loginBtn">Log in</a>
    <div id="remember-container">
      <span id="forgotten" (click)="unhide()" onclick="forgot()">Forgot password?</span>
    </div>
  </form>
</div>

<!-- Forgotten Password Container -->
<div id="forgotten-container">
  <i class="material-icons modal-close-btn" (click)="hideRecover()" onclick="loginSlide();">close</i>
  <h1 class="loginHead">Trouble logging in?</h1>
  <p class="forgotExplain">Enter email and we'll send you a link to get back into your account.</p>
  <!--<i class="material-icons login-close-btn" onclick="closeLogin()">close</i>-->

  <form>
    <label class="loginFields">
      <input class="loginInputs" id="emailInput" type="email" name="email" placeholder="E-mail">
    </label>
    <a class="loginButton" id="retrieveQ" (click)="checkEmailForQuestion()">Retrieve security question</a>
    <br>
    <p class="forgotExplain" id="recoverQuestion" hidden>Question</p>
    <label class="QuestionField" id="questionLabel" hidden>
      <input class="loginInputs" id="answerInput" type="text" name="question" placeholder="Answer" hidden>
    </label>
    <a class="loginButton loginInputs loginButton" id="nextBtn" (click)="recoverPasswordEmail()" hidden>Next</a>
  </form>
</div>
