<div class="loginBG">
  <div class="loginCover"></div>
</div>
<div id="login-button" onmouseover="loginSlide()">
  <img class="loginImg" src="./assets/Images/ArgusIcon.png"
       alt="">
  Login
</div>

<div id="loginContainer">
  <h1 class="loginHead">Welcome to</h1>
  <div class="loginLogo">
    <a class="simple-text">
      <img id="logoLoginPage" src="assets/Images/ArgusLogo.png" alt="Argus Logo">
    </a>
  </div>

  <form id="loginForm">
    <br>
    <div id="errorMsgs">
    </div>
    <label class="loginFields">
      <input class="loginInputs" type="text" name="username" placeholder="Username or E-mail"
             id="emailField" maxlength="50">
    </label>
    <label class="loginPassword">
      <input class="loginInputs" id="passwordField" type="password" name="pass" placeholder="Password"
             pattern="^[a-zA-Z0-9]*(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
             maxlength="20">
      <i class="material-icons" id="passwordVisibility" onclick="showPassword('')">visibility_off</i>
    </label>
    <br>
    <a class="loginButton" (click)="clearErrors(); makeSession()" id="loginBtn">Login</a>
    <div id="remember-container">
      <span id="forgotten" (click)="unhide()" onclick="forgot()">Forgot password?</span>
    </div>
  </form>
</div>

<!-- Forgotten Password Container -->
<div id="forgotten-container">
  <i class="material-icons modal-close-btn" (click)="hideRecover()" onclick="loginSlide();">close</i>
  <h1 class="loginHead">Trouble logging in?</h1>
  <p class="forgotExplain">Enter email and security answer and we'll send you a password to get back into your
    account.</p>

  <form>
    <div id="errorMsgsForgot">

    </div>
    <label class="loginFields">
      <input class="loginInputs" id="emailInput" type="email" name="email" placeholder="E-mail" required email
             pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
             [(ngModel)]="emailPlaceholder" #email="ngModel">
    </label>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      Please enter a valid email address.
    </div>
    <a class="loginButton" id="retrieveQ" (click)="clearErrors(); checkEmailForQuestion();">Retrieve security
      question</a>
    <br>
    <p class="forgotExplain" id="recoverQuestion" hidden>Question</p>
    <label class="QuestionField" id="questionLabel" hidden>
      <input class="loginInputs" id="answerInput" type="text" name="question" placeholder="Answer" hidden>
    </label>
    <a class="loginButton loginInputs loginButton" id="nextBtn" (click)="clearErrors(); recoverPasswordEmail()" hidden>Get
      Password</a>
  </form>
</div>


<div id="emailSent" hidden data-notify="container"
     class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown popError"
     role="alert" data-notify-position="bottom-right"
     style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; bottom: 20px; right: 20px;">
  <br>
  <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
          style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;"
          (click)="closePop('emailSent')"><i class="material-icons">close</i>
  </button>
  <i data-notify="icon" class="material-icons">mark_email_read</i>
  <span data-notify="title"></span>
  <span data-notify="message">Recovery email sent.</span>
  <br>
</div>


<footer class="footer loginFooter">
  <div class="container-fluid">
    <div>
      <ul>
        <li class="float-left">
          <a href="https://www.epiuselabs.com/">
            Epi-Use Labs
          </a>
        </li>
        <li class="float-left">
          <a href="https://www.epiuselabs.com/about-us">
            About Us
          </a>
        </li>
        <li class="float-right">
          <a href="https://github.com/COS301-SE-2020/Home-Security-System">
            &copy; Developed by Sigma
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
