<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Grey List</h4>
                    <p class="card-category">Unknown People</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Picture
                                </th>
                                <th>
                                    Modify
                                </th>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let p of person | async">
                              <tr *ngIf="p.personListed == 'Grey'">
                                <td>{{p.personId}}</td>
                                <td><img src="{{p.personImg}}" class="listPic"></td>
                                <td>
                                  <a class="btn btn-primary" (click)="whiteListPerson(p.personId)">Add to white list</a>
                                  <a class="btn btn-primary" (click)="blackListPerson(p.personId)">Add to black list</a>
                                </td>
                              </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
