<!--<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [hidden]="submitted">
          <span class="login100-form-title p-b-26 ">
            Add a new user to
          <img src="/assets/Images/Argus.png " style="height: 60px; margin-left: auto; margin-right: auto;"><br>
          <img src="/assets/Images/devider.png "
               style="height: 7px; width: 200px; margin-left: auto; margin-right: auto;">
        </span>
        <div class="wrap-input100" data-validate="Enter name and surname ">
          <b> Name </b>
          <input class="input100 " type="text" required [(ngModel)]="user.name" name="name" id="name">
          <span class="focus-input100 "></span>
        </div>
        <div class="wrap-input100" data-validate="Enter name and surname ">
          <b> Surname </b>
          <input class="input100 " type="text" required [(ngModel)]="user.surname" name="name" id="surname">
          <span class="focus-input100 "></span>
        </div>
        <div class="wrap-input100" data-validate="Enter username ">
          <b> Username </b>
          <input class="input100 " type="text" required [(ngModel)]="user.username" name="username" id="username">
          <span class="focus-input100 "></span>
        </div>

        <div class="wrap-input100" data-validate="Valid email is: a@b.c ">
          <b> Email </b>
          <input class="input100" type="text" id="input" required [(ngModel)]="user.email" name="input">
          // onchange="ValidateEmail()"
          <span class="focus-input100 "></span>
        </div>

        <div class="wrap-input100" data-validate="Enter password ">
          <b> Password </b>
          <img src="/assets/Images/hidePass.png" id="passEye" onclick="showPassword()"
               style="height: 12px; padding-left: 150px; "> <br>
          <input class="input100 " type='password' required [(ngModel)]="user.userPass" id="pass">
          <span class="focus-input100 "></span>
        </div>

        <div class="wrap-input100" data-validate="Enter user type ">
          <b> Choose a User role </b><br><br>
          <input type="radio" id="basic" name="userType" value="basic" checked>
          <label for="basic"><i>Basic</i></label><br>
          <input type="radio" id="advanced" name="userType" value="advanced">
          <label for="advanced"><i>Advanced</i></label><br>
          <input type="radio" id="admin" name="userType" value="admin">
          <label for="admin"><i>Admin</i></label>
        </div>

        <div class="wrap-input100-last" data-validate="Add a profile picture">
          <b> Profile picture </b>
          <input class="input100 " type="file" name="profilePic" accept="image/jpeg, image/png" id="profilePic"
                 onchange="updateProfilePic(event)">
          <a class="btn btn-primary login100-form-btn" data-toggle="modal" data-target="#myModal">Take a picture</a>
          <img id="profilePicDisplay" src="/assets/Images/profile.jpg" width="80px">
          <img id="output" width="150px" >
          <span class="focus-input100 "></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" onclick="imgToBase64()">
              //onclick="checkProfileImage(), CheckPassword(), mockAdd()"
              Add User
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Take a picture</h4>
          <i class="material-icons modal-close-btn" data-dismiss="modal">close</i>
        </div>
        <div class="modal-body center">
          <div id="app">
            <div>
              <webcam [width]="400" [imageQuality]="0.92" [trigger]="triggerObservable"
                      *ngIf="showCam"
                      (imageCapture)="handleShot($event)">
              </webcam>
            </div>
            <div>
              <button class="btn btn-primary" (click)="trigger_s();">Snap
              </button>
            </div>
            <div class="snapshot" *ngIf="camImg">
              <h2>Preview:</h2>
              <img id="confirmPic" width="400px" [src]="camImg.imageAsDataUrl" alt="Preview"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="changePic(); imgToBase64()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->

<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
    </div><br>

    <div class="form-group">
      <label for="surname">Last Name</label>
      <input type="text" class="form-control" id="surname" required [(ngModel)]="user.surname" name="surname">
    </div><br>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div><br>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    </div><br>

    <div class="form-group">
      <label for="pass">Password</label>
      <input type="text" class="form-control" id="pass" required [(ngModel)]="user.userPass" name="pass">
    </div><br>

    <div class="form-group">
      <label for="role">Role</label>
      <input type="text" class="form-control" id="role" required [(ngModel)]="user.userRole" name="role">
    </div><br>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newUser()">Add</button>
</div>
