<footer class="footer">
  <div class="container-fluid">
    <div class="float-left">
      <ul>
        <li>
          <a href="https://www.epiuselabs.com/">
            Epi-Use Labs
          </a>
        </li>
        <li>
          <a href="https://www.epiuselabs.com/about-us">
            About Us
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright float-right">
      &copy; Developed by Sigma
      <script>
          document.write(new Date().getFullYear())
      </script>
    </div>
  </div>
</footer>
