<div class="sidebar" data-color="argus">
    <div class="logo">
        <a href="./dashboard.html" class="simple-text">
            <img src="assets/Images/ArgusLogo.png" width="50%">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/dashboard']">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user-list']">
                    <i class="material-icons">person</i>
                    <p>Users List</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/white-list']">
                    <i class="material-icons">visibility</i>
                    <p>White List</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/grey-list']">
                    <i class="material-icons">priority_high</i>
                    <p>Grey List</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/black-list']">
                    <i class="material-icons">visibility_off</i>
                    <p>Black List</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/notifications']">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/live-feed']">
                    <i class="material-icons">camera</i>
                    <p>Live Feed</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/login']">
                    <i class="material-icons">login</i>
                    <p>Login</p>
                </a>
            </li>
        </ul>
    </div>
</div>