<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Threat Person List</h4>
          <p class="card-category">Danger Level High!</p>
          <a *ngIf="info.userRole != 'Basic'" id="addBlack" class="material-icons open-modal listPageIcons" data-toggle="modal"
             data-target="#addPersonModal2" onclick="openDrop()">person_add</a>
        </div>
        <div class="card-body">
          <!--Search Bar Starts Here-->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">search</i>
              </span>
            </div>
            <input type="text" class="form-control" id="searchInput" placeholder="Search for a person..."
                   onkeyup="searchFunc('blackListTable', 1)">
          </div>
          <!--Table Starts Here-->
          <div class="table-responsive table-striped">
            <table class="table center" id="blackListTable">
              <thead class="text-primary">
              <th>
                Picture
              </th>
              <th class="hoverPointer" onclick="sortTable('blackListTable', 1)">
                Alias
              </th>
              <th>
                Modify
              </th>
              </thead>
              <tbody id="blackBody">
              <ng-container *ngFor="let p of person | async">
                <tr *ngIf="p.personListed == 'Black' && p.personDeleted == null">
                  <td><img alt="Photo" src="{{p.personImg}}" class="listPic ImgClassName"></td>
                  <td>{{p.fname}}&nbsp;{{p.lname}}</td>
                  <td *ngIf="info.userRole != 'Basic'">
                    <a class="material-icons listPageIcons" (click)="updatePerson(p.personId)">edit</a>
                    <a class="material-icons listPageIcons" (click)="removePerson(p.personId)">delete</a>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a *ngIf="info.userRole != 'Basic'" class="btn btn-primary float-right" (click)="restorePerson()">Restore</a>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!--ADD PERSON MODAL-->
<div class="container">
  <div class="modal fade" id="addPersonModal2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body center">
          <i class="material-icons modal-close-btn" data-dismiss="modal">close</i>
          <app-add-person></app-add-person>
        </div>
      </div>
    </div>
  </div>
</div>
