<div class="container-fluid">
  <div class="row">
    <!-- ROW 1 -->
    <div class="col-lg-12 col-md-10 col-sm-10">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <i class="material-icons" style="color: #ff0000; font-size: small;">stop_circle</i>
            Live Feed
          </h4>
        </div>
        <div class="card-body embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/xKe6tUsgCy0"
            allow="autoplay;"
          ></iframe>
        </div>
      </div>
    </div>

    <!-- ROW 2 -->
    <div class="row">
      <!-- MONTHLY ALERTS CARD -->
      <div class="col-lg-6 col-md-5 col-sm-5">
        <div class="card card-chart">
          <div class="card-header card-header-color">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Monthly Alerts</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>
              Last updated 2 minutes ago
            </div>
          </div>
        </div>
      </div>

      <!-- OTHER STATS PLACEHOLDER CARD -->
      <div class="col-lg-6 col-md-5 col-sm-5">
        <div class="card card-chart">
          <div class="card-header card-header-color">
            <h4 class="card-title">Other Stats Placehold</h4>
          </div>
          <div class="card-body">
            STATS GO HERE
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>
              Last updated 2 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ROW 3 -->
  <div class="row">
    <!-- WHITE LIST CARD -->
    <app-people-white></app-people-white>

    <!-- BLACK LIST CARD -->
    <app-people-black></app-people-black>

    <!-- LICENSE PLATE CARD -->
    <app-vehicles-white></app-vehicles-white>
  </div>
</div>
