<!--Main content of page-->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--Header-->
          <div class="card-header card-header-primary">
            <h4 class="card-title">User Profile</h4>
            <p class="card-category">If you want to reinvent yourself, here is your chance.</p>
            <!--Profile Picture-->
            <div class="image-cropper">
              <img alt="Photo" class="userPic" id="userPic">
              <div class="middle">
                <button class="btn btn-primary" data-toggle="modal" data-target="#changeProfilePicModal"
                        onclick="openDrop()">Change
                </button>
              </div>
            </div>
          </div>
          <!--Body-->
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <h5 class="text-primary"><b>First Name</b></h5>
                    <!-- <label class="bmd-label-floating">First Name</label> -->
                    <output id="firstNameDisplay">
                    </output>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <h5 class="text-primary"><b>Last Name</b></h5>
                    <!-- <label class="bmd-label-floating">Last Name</label> -->
                    <output id="lastNameDisplay">
                    </output>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <h5 class="text-primary"><b>Username</b></h5>
                    <!-- <label class="bmd-label-floating">Username</label> -->
                    <output id="usernameDisplay">
                    </output>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <h5 class="text-primary"><b>Email</b></h5>
                    <!-- <label class="bmd-label-floating">Email address</label> -->
                    <output id="emailDisplay">
                    </output>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <h5 class="text-primary"><b>Contact Number</b></h5>
                    <!-- <label class="bmd-label-floating">Username</label> -->
                    <output id="numberDisplay">
                    </output>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#changeModal"
                      (click)="loadModal()">Update Details
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Change Profile Picture Modal-->
<div class="container">
  <div class="modal fade" id="changeProfilePicModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body center">
          <i class="material-icons modal-close-btn" data-dismiss="modal">close</i>
          <div class="card">
            <div class="card-header card-header-color">
              <h4 class="card-title">Change Profile Picture</h4>
            </div>
            <div class="card-body">
              <!--Profile Picture-->
              <div class="form-group">
                <div class="picture-container">
                  <!--            <div class="output" width="150px">-->
                  <div id="preview">
                    <img alt="Default Picture" id="submitPhoto" src="/assets/Images/blank.jpg">
                  </div>
                  <br>
                </div>

                <label id="profilePicInput" for="fileElem">
                  <i class="material-icons add-photo-icon">add_photo_alternate</i><br>
                  <input type="file" id="fileElem" accept="image/*" onchange="previewFile(this.file)"            >
                  Drag and Drop an image<br>
                  <!--or<br>Click to add-->
                </label>

                or
                <br>

                <a class="hoverPointer" data-toggle="modal" data-target="#pictureModal">
                  capture a photo from camera
                </a>
              </div>
              <button type="submit" class="btn btn-primary justify-content-center" data-dismiss="modal"
                      (click)="updateUserPic()">Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Take profile picture modal-->
<div class="container">
  <div class="modal fade picModal" id="pictureModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Take a picture</h4>
          <i class="material-icons modal-close-btn" data-toggle="modal" data-target="#pictureModal">close</i>
        </div>
        <div class="modal-body center">
          <div id="app">
            <div>
              <webcam [width]="400" [imageQuality]="0.92" [trigger]="triggerObservable"
                      *ngIf="showCam"
                      (imageCapture)="handleShot($event)">
              </webcam>
            </div>
            <div>
              <button class="btn btn-primary" (click)="trigger_s();">Snap
              </button>
            </div>
            <div class="snapshot" *ngIf="camImg">
              <h2>Preview:</h2>
              <img id="confirmPic" width="400px" [src]="camImg.imageAsDataUrl" alt="Preview"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#pictureModal"
                  onclick="previewFileFromCam()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Update Info Modal-->
<div class="container">
  <div class="modal fade" id="changeModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <i class="material-icons modal-close-btn" data-dismiss="modal">close</i>
          <h4 class="modal-title">Update Your Personal Information</h4>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form #changeForm="ngForm">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="uFirstName">First Name</label>
                    <input id="uFirstName" name="fname" class="form-control"
                           required
                           [(ngModel)]="user.fname" #name="ngModel">

                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                         class="alert alert-danger">

                      <div *ngIf="name.errors.required">
                        First name is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="uLastName">Last Name</label>
                    <input id="uLastName" name="lname" class="form-control"
                           required
                           [(ngModel)]="user.lname" #lname="ngModel">

                    <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                         class="alert alert-danger">

                      <div *ngIf="lname.errors.required">
                        Last name is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="uUsername">Username</label>
                    <input id="uUsername" name="username" class="form-control"
                           required
                           [(ngModel)]="user.username" #username="ngModel">

                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                         class="alert alert-danger">

                      <div *ngIf="username.errors.required">
                        Username is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="uEmail">Email</label>
                    <input id="uEmail" name="email" class="form-control"
                           required email
                           pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                           [(ngModel)]="user.email" #email="ngModel">

                    <div *ngIf="email.invalid && (email.dirty)"
                         class="alert alert-danger">

                      <div *ngIf="email.errors.required">
                        Email is required.
                      </div>

                      <div *ngIf="email.errors.email">
                        Please enter a valid email address.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="uNumber">Contact Number</label>
                    <input id="uNumber" name="contactNo" class="form-control"
                           required pattern="^((?:\+27))(=72|82|73|83|74|84|79)(\d{7})$"
                           [(ngModel)]="user.contactNo" #contactNo="ngModel">

                    <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)"
                         class="alert alert-danger">
                      Please enter a valid phone number starting with +27.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="passwordField1">Password</label>
                    <input type="password" id="passwordField1" name="uPassword" class="form-control"
                           required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                           [(ngModel)]="user.userPass" #userPass="ngModel">
<!--                    <input class="loginInputs" id="passwordField" type="password" name="pass" placeholder="Password">-->
                    <i class="material-icons hoverPointer" id="passwordVisibility1" onclick="showPassword('1')">visibility_off</i>
                    <div *ngIf="userPass.invalid && (userPass.dirty || userPass.touched)"
                         class="alert alert-danger">
                      <ul>
                        <h6>Must contain:</h6>
                        <li>At least eight characters</li>
                        <li>At least one uppercase letter</li>
                        <li>At least one lowercase letter</li>
                        <li>One number</li>
                        <li>One special character</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="userPass.dirty">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label for="passwordField2">Confirm Password</label>
                      <input type="password" id="passwordField2" name="confirmPassword" class="form-control"
                             [(ngModel)]="conPass" #confirm="ngModel">
                      <i class="material-icons hoverPointer" id="passwordVisibility2" onclick="showPassword('2')">visibility_off</i>
                      <div *ngIf="userPass.value != conPass.valueOf()"
                           class="alert alert-danger">
                        Passwords do not match
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal" (click)="onSubmit()" [disabled]="changeForm.invalid"> Save
            Changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
