<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-26 ">
                    Edit a users profile on
                    <img src="/assets/Images/Argus.png" style="height: 60px; margin-left: auto; margin-right: auto;"> <br>
                    <img src="/assets/Images/devider.png" style="height: 7px; width: 200px; margin-left: auto; margin-right: auto;">
                  </span>

        <div class="wrap-input100-last" data-validate="Add a profile picture">
          <b> User picture </b>
          <p style="padding-top: 20px;">
            <input class="input100 " type="file" name="userPic" accept="image/jpeg, image/png" id="userPic" onchange="updateProfilePic(event)">
            <img id="profilePicDisplay" src="/assets/Images/blank.png " width="100px ">
            <img id="output" width="250px ">
          </p>
          <span class="focus-input100 "></span>
        </div>

        <div class="container-login100-form-btn ">
          <div class="wrap-login100-form-btn ">
            <div class="login100-form-bgbtn "></div>
            <button class="login100-form-btn " onclick="checkUserImage(), mockAdd()">
              Save Changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
