<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.epiuselabs.com/">
              Epi-Use Labs
            </a>
          </li>
          <li>
            <a href="https://www.epiuselabs.com/about-us">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
        Developed by Sigma
      </div>
    </div>
  </footer>