<div class="sidebar" data-color="argus">
    <div class="logo">
        <a class="simple-text" [routerLink]="['/dashboard']">
            <img src="assets/Images/ArgusLogo.png" width="50%">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard']">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/user-list']">
                    <i class="material-icons">person</i>
                    <p>User List</p>
                </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/people-white']">
                    <i class="material-icons">check_circle</i>
                    <p>Cleared List</p>
                </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/people-grey']">
                    <i class="material-icons">help</i>
                    <p>Unknown List</p>
                </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/people-black']">
                    <i class="material-icons">cancels</i>
                    <p>Threat List</p>
                </a>
            </li>
        </ul>
    </div>
</div>
