<div style="padding-left: 30px; padding-top: 90px">
	<h1>Update Vehicle Profil</h1>
	<br>
</div>

<div class="container">

			<img src='../assets/Images/car.jpg' alt='Profile Photo'>

			<br>

			<span>
				<form action='' method='' enctype='multipart/form-data'>
					<div class='form-group'>
						<input type='file' name='pic' id='pic'><br>
						<input type='hidden' name='user_id' value='1'>
						<input type='submit' name='uploadImage' value='Upload Image'>
					</div>
				</form>
				<input type="button" id="camera" name="camera" value="Camera">
			</span>

			<br>

			<input type="radio" id="white" name="listed" value="White-Listed">
			<label for="white">White-Listed</label><br>
			<input type="radio" id="grey" name="listed" value="Grey-Listed">
			<label for="grey">Grey-Listed</label><br>
			<input type="radio" id="black" name="listed" value="Black-Listed">
			<label for="black">Black-Listed</label>

			<br>

			<input type="submit" id="save" name="save" value="Done">
		</div>
