<div style="padding-left: 30px; padding-top: 90px">
	<h1>Vehicle Profile List</h1>
	<br>
</div>

<div class="container">

			<!-- 
			<span style="padding-left:30px;">
				<button type="button" class="fa fa-plus"> <b> Add </b> </button>
			</span>

			<span style="padding-left:30px;">
				<button type="submit" class="fa fa-trash"> <b> Delete </b> </button>
			</span>
			-->

			<div class="container-login100-form-btn " style="padding-left: 30px;width: 230px;">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn "></div>
				<button class="login100-form-btn" >
				Add
			</button>
			</div>
			</div>
			<br>

			<div class="container-login100-form-btn " style="padding-left: 30px;width: 230px;">
				<div class="wrap-login100-form-btn">
					<div class="login100-form-bgbtn "></div>
					<button class="login100-form-btn" >
					Delete
				</button>
				</div>
			</div>

			<br>

			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class='table table-striped'>
									<thead class='header'>
										<tr>
											<th>White-Listed</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img id="carPic" src='../assets/Images/car.jpg' alt='Project Photo'>
											</td>
											<td>
												<form action='' method='post'>
													<input type='hidden' name='project_id' value='1'>
													<button type='submit' class='fa fa-pencil'>Edit</button>
												</form>
											</td>
											<td>
												<input type='checkbox' name='1'>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<hr>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class='table table-striped'>
									<thead class='header'>
										<tr>
											<th>Grey-Listed</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img id="carPic" src='../assets/Images/car.jpg' alt='Project Photo'>
											</td>
											<td>
												<form action='' method='post'>
													<input type='hidden' name='project_id' value='1'>
													<button type='submit' class='fa fa-pencil'>Edit</button>
												</form>
											</td>
											<td>
												<input type='checkbox' name='1'>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<hr>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<table class='table table-striped'>
									<thead class='header'>
										<tr>
											<th>Black-Listed</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img id="carPic" src='../assets/Images/car.jpg' alt='Project Photo'>
											</td>
											<td>
												<form action='' method='post'>
													<input type='hidden' name='project_id' value='1'>
													<button type='submit' class='fa fa-pencil'>Edit</button>
												</form>
											</td>
											<td>
												<input type='checkbox' name='1'>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>

			<button type="button" class="btnBack">Back</button>
		</div>
