<div class="card">
  <div class="card-header card-header-color">
    <h4 class="card-title">Add Person</h4>
  </div>
  <div class="card-body">
    <br>
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fname" class="float-left">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname"
                     required maxlength="35" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
                     [(ngModel)]="namePlaceholder" #name="ngModel">

              <div *ngIf="name.invalid && (name.dirty || name.touched)"
                   class="alert alert-danger">
                Please enter a valid name.
              </div>
            </div>
            <br>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="lname" class="float-left">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname"
                     required maxlength="35" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
                     [(ngModel)]="surnamePlaceholder" #lname="ngModel">

              <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                   class="alert alert-danger">
                Please enter a valid last name.
              </div>
            </div>
            <br>
          </div>
        </div>

        <div class="form-group">
          <label class="float-left">Type</label><br><br>
          <label class="radioContainer">Cleared
            <input type="radio" checked="checked" name="personType" id="whiteList" value="whiteList">
            <span class="radioCheckmark"></span>
          </label>
          <label class="radioContainer">Threat
            <input type="radio" name="personType" id="blackList" value="blackList">
            <span class="radioCheckmark"></span>
          </label>
        </div>

        <!--Profile Picture-->
        <div class="form-group">
          <label for="profilePicInput" class="float-left">Profile Picture</label><br><br>
          <div class="picture-container">
            <div id="preview">
              <img alt="Default Picture" id="submitPhoto" src="/assets/Images/blank.jpg">
            </div>
            <br>
          </div>

          <label id="profilePicInput" for="fileElem">
            <i class="material-icons add-photo-icon">add_photo_alternate</i><br>
            <input type="file" id="fileElem" accept="image/jpeg, image/png" onchange="resize()" > <!-- onchange="previewFile(this.file)" -->
            Drag and Drop an image<br>
            <!--or<br>Click to add-->
          </label>
          or
          <br>

          <a class="hoverPointer" data-toggle="modal" data-target="#pictureModal" (click)="camOn()">
            capture a photo from camera
          </a>
        </div>
        <button type="submit" class="btn btn-primary justify-content-center" onclick = "resize()">Submit</button>
      </form>
    </div>
</div>

<div class="container">
  <div class="modal fade picModal" id="pictureModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Take a picture</h4>
          <i class="material-icons modal-close-btn" data-toggle="modal" data-target="#pictureModal">close</i>
        </div>
        <div class="modal-body center">
          <div id="app">
            <div>
              <webcam [width]="300" [height]="300" [imageQuality]="0.92" [trigger]="triggerObservable"
                      *ngIf="showCam"
                      (imageCapture)="handleShot($event)">
              </webcam>
            </div>
            <div>
              <button class="btn btn-primary" (click)="trigger_s();">Snap
              </button>
            </div>
            <div class="snapshot" *ngIf="camImg">
              <h2>Preview:</h2>
              <img id="confirmPic" width="300px" height="300px" [src]="camImg.imageAsDataUrl" alt="Preview" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#pictureModal" onclick="resizePhoto()" (click)="camOff()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
